@charset "utf-8";
html,body,input,img,ul,p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
